table {
    width: 100%;
    text-align: center; /* centre le texte horizontalement */
    vertical-align: middle; /* centre le texte verticalement */
  }
  
  table tbody tr th, table tbody tr td {
    /*padding: 5px;*/
       text-align: center; /* centre le texte horizontalement */
    vertical-align: middle; /* centre le texte verticalement */
  
  }
  
  .port_c1{
    float: left;
    height: 150px;
    margin-top: 30px;
  }
  .port_c2{
    float: right;
    height: 150px;
    margin-top: 30px;
  }
  .chartpie{
    height: 300px;
  }