<!-- ======= Footer ======= -->
  <footer id="footer" class="mt-5">
    <div class="footer-top">
      <div class="container">
        <div class="row">

        <div class="col-lg-8 col-md-10 ">
          <div class="footer-info ">
           
           
            <div class="social-links  mt-3">
             
              
                <strong> <i class="bi bi-geo-alt"></i> Localisation : </strong><a href="https://www.google.com/maps/search/?api=1&query=R7XF%2B93W%2C+Unnamed+Road%2C+Tunis" target="_blank"style="text-decoration: none;">R7XF+93W, Unnamed Road, Tunis</a><br>
                <strong> <i class="bi bi-phone"></i> Téléphone : </strong><a href="tel:+21671160600" style="text-decoration: none;">+216 71 160 600</a><br>
                <strong> <i class="bi bi-envelope"></i>  Email : </strong><a href="mailto:communications@vermeg.com" style="text-decoration: none;">communications@vermeg.com</a><br>
              
              <div class="social-links mt-3">
               
                <div class="links">
                  <a href="https://www.facebook.com/Vermeg " class="facebook"><i class="bx bxl-facebook"></i></a>
                  
                  
                  <a href="https://www.linkedin.com/company/vermeg " class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

         

         
          

        </div>
        <div class="col-lg-4 col-md-10 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/accueil">Accueil</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">A propos</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
            
          </ul>
        </div>
      </div>
    </div>
</div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Bourse Pour Toi</span></strong>. All Rights Reserved
      </div>
     
    </div>
    

  </footer><!-- End Footer -->