<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-8 col-md-10">
            <div class="footer-info">
             
              <p>
                <strong>Localisation:</strong>R7XF+93W, Unnamed Road, Tunis<br>
                <strong>Téléphone:</strong>+216 71 160 600<br>
                <strong>Email:</strong>communications@vermeg.com<br>
              </p>
              <div class="social-links mt-3">
               
                <a href="https://www.facebook.com/Vermeg" class="facebook"><i class="bx bxl-facebook"></i></a>
                
             
                <a href="https://www.linkedin.com/company/vermeg" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-10 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              
            </ul>
          </div>

         
          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Bourse Pour Toi</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- End Footer -->