

<app-header></app-header>

<div class="row mt-4">
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card z-index-2 ">
      <div #content1>
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-light shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                  <canvas #myCanvas1></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h4 class="mt-2">Total Investisseurs : {{totalLastWeek}}</h4>
            <hr class="dark horizontal">
          </div>
      </div>
      <button (click)="makePdf(1)" class="btn btn-success btn-sm">Génerer PDF <i class="fa fa-print" aria-hidden="true"></i></button>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
         <div #content2>
           <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
             <div class="bg-gradient-light shadow-primary border-radius-lg py-3 pe-1">
               <div class="chart">
                   <canvas #myCanvas2></canvas>
               </div>
             </div>
           </div>
           <div class="card-body">
            <div  class="mt-2">
               <h4 class="mt-2">Total Investisseurs : {{totalMonthU}}</h4>
            </div>
             <hr class="dark horizontal">
           </div>
         </div>
         <button (click)="makePdf(2)" class="btn btn-success btn-sm">Génerer PDF <i class="fa fa-print" aria-hidden="true"></i></button>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
          <div #content3>
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-warning shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                    <canvas #myCanvas3></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
             <div  class="mt-2">                               
              <h4 class="mt-2">Total Investisseurs : {{totalYearU}}</h4>
             </div>
             <hr class="dark horizontal">
            </div>         
          </div>
          <button (click)="makePdf(3)" class="btn btn-success btn-sm">Génerer PDF <i class="fa fa-print" aria-hidden="true"></i></button>

        </div>

      </div>
    </div>