  <app-header></app-header>
  <main class="main-content  mt-0 mb-2">
    <div class="container mt-3">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-8 col-lg-5 col-md-7 d-flex flex-column mx-lg-2 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-2 pb-2">
              <h5>S'inscrire</h5>
            </div>
          
            <div class="card-body">
              <form [formGroup]="UserFormGroup">
                <div class="mb-3 pt-3">
                  <span class="p-float-label">
                    <input type="text"  pInputText class="form-control "  aria-label="Nom" formControlName="name" name="name">
                    <label for="float-input">Nom *</label>
                    </span>
                  <div *ngIf="name.dirty && name.invalid"    class=" mb-3 alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-text">Le nom est obligatoire !</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </div>
                <div class="mb-3 pt-3">
                  <span class="p-float-label">
                    <input type="text"  pInputText class="form-control "  aria-label="Prenom" formControlName="lastName" name="lastName">
                    <label for="float-input">Prenom *</label>
                    </span>
                  <div *ngIf="lastName.dirty && lastName.invalid"    class=" mb-3 alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-text">Le prenom est obligatoire !</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </div>
                
                <div class="mb-3 pt-3">
                  <span class="p-float-label">
                    <input type="email" pInputText class="form-control"  aria-label="Email" formControlName="email" name="email">
                    <label for="float-input">Email *</label>
                    </span>
                  <div *ngIf="email.invalid  && email.dirty"   
                  class="mb-3 alert alert-danger alert-dismissible fade show" 
                  role="alert">
             
                 <div *ngIf="email.errors?.['required']">Le champ email est obligatoire.</div>
                 <div *ngIf="email.errors?.['pattern']">L'adresse email n'est pas valide.</div>
             
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
                </div>
                <div class="mb-3 pt-3">
                  
                  <div class="password-wrapper">
                    <span class="p-float-label">
                      <input [type]=motdepasse  pInputText class="form-control "  aria-label="Password" formControlName="password" name="password">

                      <label for="float-input">Mot de passe *</label>
                      </span>                  
                        <span [hidden]="eye" (click)="eyes(1)">
                      <i class="fa fa-eye password-toggle-icon" aria-hidden="true" ></i>
                    </span>
                    <span [hidden]="!eye" (click)="eyes(1)">
                      <i class="fa fa-eye-slash password-toggle-icon" aria-hidden="true"></i>
                    </span>
                  </div>
                  
                 
                  <div *ngIf="password.invalid  && password.dirty"   
                  class="mb-3 alert alert-danger alert-dismissible fade show" 
                  role="alert">
             
                  <div *ngIf="password.errors?.['required']">Le mot de passe est obligatoire.</div>
                  <div *ngIf="password.errors?.['minlength'] || password.errors?.['pattern']">Le mot de passe doit comporter au moins 6 caractères et au moins une lettre et un chiffre.</div>
              
             
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
                </div>
                <div class="mb-3 pt-3">
                  <div class="password-wrapper">
                      <form [formGroup]="passwordFormGroup">
                        <span class="p-float-label">
                        <input [type]=motdepasse2  pInputText class="form-control "  aria-label="Password" formControlName="password1" name="password1">
                        <label for="float-input"> Récrire le mot de passe *</label>
                      </span>                  
                      <span [hidden]="eye2" (click)="eyes(2)">
                        <i class="fa fa-eye password-toggle-icon" aria-hidden="true" ></i>
                      </span>
                      <span [hidden]="!eye2" (click)="eyes(2)">
                        <i class="fa fa-eye-slash password-toggle-icon" aria-hidden="true"></i>
                      </span>
                      </form>
                  </div>             
                  <div *ngIf="password1.dirty && verifPassword()"    class=" mb-3 alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-text">Le mot de passe est incorrect !</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                   </div>     
                </div>
                <div class="mb-3">
                  <!--<p-dropdown [options]="countries" formControlName="country" placeholder="Select a City" optionLabel="common" [showClear]="true"></p-dropdown>-->

                  <select  class="form-control" formControlName="country" name="country" >
                    <option *ngFor="let country of countries" [value]="country.name.common">{{ country.name.common }}</option>
                  </select>          
                </div>

                <!--<div class="input-group">
                  <input type="password" #passwordInput class="form-control" placeholder="Mot de passe">
                  <button type="button" class="btn btn-outline-secondary toggle-password" (click)="togglePassword(passwordInput)">
                    <i class="fa fa-eye"></i>
                  </button>
                </div>-->
            
                
                <div class="text-center">
                  <button (click)="signUp()"    [disabled]="signUpDisabled ||passwordFormGroup.invalid " class="btn btn-lg btn-primary w-100 mt-4 mb-0">S'inscrire</button>

                </div>
                <div *ngIf="errorSignUp"   
                    class="mb-3 alert alert-danger alert-dismissible fade show" 
                    role="alert">               
                  <div >L'adresse email exsite déja !.</div>                        
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div *ngIf="emailError"   
                class="mb-3 alert alert-danger alert-dismissible fade show" 
                role="alert">               
              <div >L'adresse email est invalide !.</div>                        
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <p class="text-sm mt-3 mb-0">Vous avez déjà un compte? 
                    <a routerLink="/signIn" class=" font-weight-bolder text-primary" style="text-decoration: none;">Se connecter</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
