
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">l
    <div class="container">
        <a class="navbar-brand m-2 pt-3" routerLinkActive="active" routerLink="/home" target="_blank">
            <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img " style="height: 38px;" alt="main_logo">
            <span class="ms-2 font-weight-bold text-white">
              Bourse Pour Toi
             </span>
          </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse me-5" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-2 "routerLinkActive="active" aria-current="page" routerLink="/home">
              <i class="fa fa-home opacity-6  me-1"></i>
              Accueil
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link me-2"routerLinkActive="active" routerLink="/signUp">
              <i class="fas fa-user-circle opacity-6  me-1"></i>
              S'inscrire
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2"routerLinkActive="active" routerLink="/signIn">
              <i class="fas fa-key opacity-6  me-1"></i>
              S'identifier
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- End Navbar -->
  <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg'); background-position: top;">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-4 mt-7">Soyez Les Bienvenus</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-2 pb-2">
              <h5>S'inscrire</h5>
            </div>
          
            <div class="card-body">
              <form [formGroup]="UserFormGroup">
                <div class="mb-3 pt-3">
                  <span class="p-float-label">
                    <input type="text" id="float-input" pInputText class="form-control "  aria-label="Nom" formControlName="name" name="name">
                    <label for="float-input">Nom *</label>
                    </span>
                  <div *ngIf="name.dirty && name.invalid"    class=" mb-3 alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-text">Le nom est obligatoire !</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </div>
                <div class="mb-3 pt-3">
                  <span class="p-float-label">
                    <input type="text" id="float-input" pInputText class="form-control "  aria-label="Prenom" formControlName="lastName" name="lastName">
                    <label for="float-input">Prenom *</label>
                    </span>
                  <div *ngIf="lastName.dirty && lastName.invalid"    class=" mb-3 alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-text">Le prenom est obligatoire !</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </div>
                
                <div class="mb-3 pt-3">
                  <span class="p-float-label">
                    <input type="email" id="float-input" pInputText class="form-control form-control"  aria-label="Email" formControlName="email" name="email">
                    <label for="float-input">Email *</label>
                    </span>
                  <div *ngIf="email.invalid  && email.dirty"   
                  class="mb-3 alert alert-danger alert-dismissible fade show" 
                  role="alert">
             
                 <div *ngIf="email.errors?.['required']">Le champ email est obligatoire.</div>
                 <div *ngIf="email.errors?.['pattern']">L'adresse email n'est pas valide.</div>
             
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
                </div>
                <div class="mb-3 pt-3">
                  
                  <div class="password-wrapper">
                    <span class="p-float-label">
                      <input [type]=motdepasse id="float-input" pInputText class="form-control "  aria-label="Password" formControlName="password" name="password">
                      <label for="float-input">Mot de passe *</label>
                      </span>                  
                        <span [hidden]="eye" (click)="eyes()">
                      <i class="fa fa-eye password-toggle-icon" aria-hidden="true" ></i>
                    </span>
                    <span [hidden]="!eye" (click)="eyes()">
                      <i class="fa fa-eye-slash password-toggle-icon" aria-hidden="true"></i>
                    </span>
                  </div>
                 
                  <div *ngIf="password.invalid  && password.dirty"   
                  class="mb-3 alert alert-danger alert-dismissible fade show" 
                  role="alert">
             
                  <div *ngIf="password.errors?.['required']">Le mot de passe est obligatoire.</div>
                  <div *ngIf="password.errors?.['minlength'] || password.errors?.['pattern']">Le mot de passe doit comporter au moins 6 caractères et au moins une lettre et un chiffre.</div>
              
             
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
                  <!--<div  *ngIf="password?.errors?.['minlength'] && password?.dirty && password?.errors?.['pattern']" >
                    <span class="alert-text fs-10 text-danger">
                      *Votre mot de passe doi contenir au moins 6 caractéres ainsi qu'une combinaison de chiffres, de lettres et de caractéres spéciaux (!$@%)

                    </span>-->
                    <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button
                </div>-->
                
                </div>
                <div class="mb-3">
                  <!--<p-dropdown [options]="countries" formControlName="country" placeholder="Select a City" optionLabel="common" [showClear]="true"></p-dropdown>-->

                  <select  class="form-control" formControlName="country" name="country" >
                    <option *ngFor="let country of countries" [value]="country.name.common">{{ country.name.common }}</option>
                  </select>          
                </div>

                <!--<div class="input-group">
                  <input type="password" #passwordInput class="form-control" placeholder="Mot de passe">
                  <button type="button" class="btn btn-outline-secondary toggle-password" (click)="togglePassword(passwordInput)">
                    <i class="fa fa-eye"></i>
                  </button>
                </div>-->
            
                
                <div class="text-center">
                  <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2" (click)="signUp()">S'inscrire</button>
                </div>
                <p class="text-sm mt-3 mb-0">Vous avez déjà un compte? 
                    <a routerLink="/signIn" routerLinkActive="active"class="text-dark font-weight-bolder">Se connecter</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>