<div class="card">
    <div class="card-header pb-0 p-3" >
     <!-- <input type="text" [(ngModel)]="searchTermAction" placeholder="Rechercher..." (keyup)="onsearchTermActionChange($event)" /> --> 
     <!-- navbar de bourse  -->
  
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link "[ngClass]="{'active': currentLink === 'paris'}"  (click)="navigateToPlace('paris')" >Paris</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " [ngClass]="{'active': currentLink === 'new-york'}"  (click)="navigateToPlace('new-york')"  >New York</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[ngClass]="{'active': currentLink === 'amsterdam'}"   (click)="navigateToPlace('amsterdam')" >Amsterdam</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[ngClass]="{'active': currentLink === 'bruxelles'}"   (click)="navigateToPlace('bruxelles')"  >Bruxelles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[ngClass]="{'active': currentLink === 'lisbonne'}"   (click)="navigateToPlace('lisbonne')"  >Lisbonne</a>
  </li>
</ul>

<ul></ul>
<!-- abcd partie -->
<div class=" pb-0 p-3 d-flex justify-content-between mt-2">
  <button class="mb-2" (click)="All()"class="btnAlpha"  style="text-decoration: none"> 
   <strong>Tous</strong> </button>
  <button *ngFor="let i of alpha" class="btnAlpha" style="text-decoration: none" (click)="filterActionByLetter(i)">{{ i }}</button>
</div> 
<!-- fin abcd partie -->
<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="table-responsive mt-2">
      <table class="table align-items-center align-middle table-hover">
        <thead>
          <tr class="bg-light ">
            <th scope="col" >Valeur</th>
            <th scope="col">Cours</th>
            <th scope="col">Variation</th>
            <th scope="col">Ouv.</th>
            <th scope="col">Haut</th>
            <th scope="col">Bas</th>
            <th scope="col">Volume</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of actionsFiltreParBousre">
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center">
                {{ t.nomEntreprise }}
              </div>
            </td>
            <td class="w-30">
              <div class="align-items-center">
                {{ t.cours }}
              </div>
            </td>
            <td class="w-30">
              <div class="align-items-center" [innerHTML]="t.variation | highlightSign" >
              
              </div>
            </td>
            <td class="w-30">
              <div class="align-items-center">
                {{ t.ouv }}
              </div>
            </td>
            <td class="w-30">
              <div class="align-items-center">
                {{ t.haut }}
              </div>
            </td>
            <td class="w-30">
              <div class="align-items-center">
                {{ t.bas }}
              </div>
            </td>
            <td class="w-30">
              <div class="align-items-center">
                {{ t.volume }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [length]="pagination"
        [pageSize]="10" 
        aria-label="Select page"
        (page)="onPageChangeAction($event)"
        
      >
      </mat-paginator>
      <!--
          <div class="d-flex align-items-center text-xs">
              <p-paginator (onPageChange)="onPageChangeAction($event)" [first]="first" [rows]="rows" [totalRecords]="filteredItemsAction.length/8" [rowsPerPageOptions]="[8, 10, 12]"></p-paginator>
              
            </div>
      -->
      <!-- <div>
         <button (click)="previousPage()" [disabled]="currentPage == 1">Previous</button>
         <button (click)="nextPage()" [disabled]="currentPage == totalPages">Next</button>
         <span>{{ currentPage }} / {{ totalPages }}</span>
       </div> -->
    </div>
  </div>
</div>
<!-- fin navbar -->

     
     
     <!-- fin navbar -->
     
    
   </div>
   
   
 </div>
