<div class="card">
  <div class="card-header pb-0 p-3" >
   <!-- <input type="text" [(ngModel)]="searchTermAction" placeholder="Rechercher..." (keyup)="onsearchTermActionChange($event)" /> --> 
   <!-- navbar de bourse  -->

<!-- <ul class="nav nav-tabs">
<li class="nav-item">
  <a class="nav-link "  (click)="navigateToPlace('paris')" >Paris</a>
</li>
<li class="nav-item">
  <a class="nav-link"   (click)="navigateToPlace('new-york')"  >NYSE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"   (click)="navigateToPlace('amsterdam')" >Amsterdam</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"   (click)="navigateToPlace('bruxelles')"  >Bruxelles</a>
  </li>
</ul> -->
<select [(ngModel)]="selectedOption" (change)="onSelectedOptionChange()">
  <option *ngFor="let option of bourseOptions" [value]="option.nom">{{ option.nom }}</option>
</select>





<ul></ul>
<!-- abcd partie -->
<div class="d-flex justify-content-between">
  <h6 class="mb-2" style="text-decoration: underline">All</h6>
  <!--hedhy bech tzidha fonction bech ki yenzel 3la 7aref ihezou we ifalter bih el tableau eli louta-->
  <a *ngFor="let i of alpha" href="" style="text-decoration: none">{{ i }}</a>
</div>
<!-- fin abcd partie -->
<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="table-responsive">
      <table class="table align-items-center">
        <thead>
          <tr>
            <th scope="col" >nom Entreprise</th>
            <th scope="col">cours</th>
            <th scope="col">variation</th>
            <th scope="col">ouv.</th>
            <th scope="col">haut</th>
            <th scope="col">bas</th>
            <th scope="col">cloture</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of actionsFiltreParBourse" >
           
            <ng-container *ngIf="t.entreprise !== null">
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center"  [routerLink]="['/entreprise',t.nomEntreprise]">
                {{ t.nomEntreprise }}
              </div>
            </td>
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center">
                {{ t.cours }}
              </div>
            </td>
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center" [innerHTML]="t.variation | highlightSign" >

              </div>
            </td>
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center">
                {{ t.ouverture }}
              </div>
            </td>
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center">
                {{ t.haut }}
              </div>
            </td>
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center">
                {{ t.bas }}
              </div>
            </td>
            <td class="w-30">
              <div class="d-flex px-2 py-1 align-items-center">
                {{ t.cloture }}
              </div>
            </td> 
        </ng-container>
          </tr>
        </tbody>
      </table>
      <mat-paginator [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [length]="length"
      (page)="onPageChange($event)">
</mat-paginator>

    </div>
  </div>
</div>
</div>

   
</div>
          
