<app-header ></app-header>

<div class="row">
    <div class="col-md-10 offset-md-1">
      <div>
        <!-- <div *ngIf="loading" class="d-flex justify-content-between loader">
          <app-loader></app-loader>
        </div> -->
        <div class="card ms-2 me-2 mt-2"  data-aos="zoom-in">
          <div class="row me-2 ms-2 mt-3">
            <div class="col-6">
              <div class="d-flex align-items-center">
              
               
              </div>
              
            </div>
            <!--Select Secteur-->
            
          </div>
          <!-- abcd partie -->
          <!-- <div class="pb-0 p-3 d-flex justify-content-between mt-2">
            <button class="mb-2 btnAlpha" (click)="All()">
              <strong>Tous</strong>
            </button>
            <button *ngFor="let i of alpha" class="btnAlpha" (click)="filterActionByLetter(i)">
              {{ i }}
            </button>
          </div> -->
          <!-- fin abcd partie -->
        
        <div class="tab-content" >
            <div class="tab-pane fade show active">
              <div class="table-responsive mt-2">
                <table class="table align-items-center align-middle table-hover">
                  <thead>
                    <tr>
                      
                      <th scope="col">Indice</th>
                      <th scope="col">Variation</th>
                      <th scope="col">Variation en Pourcentage</th>
                      <th scope="col">dernier prix </th>
                      <th scope="col">
                        Haut
                        <i class="fa fa-angle-up text-success"></i>
                      </th>
                      <th scope="col">
                        Bas
                        <i class="fa fa-angle-down text-danger"></i>
  
                      </th>
                      
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let t of indicesFiltred" >
                     
                  <ng-container >
                        
                      <td class="w-30">
                        <!---->
                        <div class="d-flex px-2 py-1 align-items-center">
                          {{ t.name}}
                        </div>
                      </td>
                      <td class="w-30">
                        <div class="align-items-center" [innerHTML]="t.change | highlightSign" >
                          
                        </div>
                      </td>
                      <td class="w-30">
                        <div class="align-items-center">
                          {{ t.changePercentage}}
                        </div>
                      </td>
                      <td class="w-30">
                        <div class="align-items-center">
                          {{ t.last }}
                        </div>
                      </td> 
                      
                      <td class="w-30">
                        <div class="align-items-center">
                          {{ t.high }}
                        </div>
                      </td>
                      <td class="w-30">
                        <div class="align-items-center">
                          {{ t.low }}
                        </div>
                      </td>
                      
                     
                  </ng-container>
                    </tr>
                    </tbody>
                    </table>
                                <mat-paginator
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [length]="length"
            (page)="onPageChange($event)"
            ></mat-paginator>   
             
             
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  
  