<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
          <div class="container-fluid">
          
              <a class="navbar-brand m-2 pt-3" routerLink="/home" routerLinkActive="active"target="_blank">
                <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img " style="height: 38px;" alt="main_logo">
                <span class="ms-2 font-weight-bold">
                  Bourse Pour Toi
                 </span>
              </a>
            
            <div class="collapse navbar-collapse me-5" id="navigation">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active" routerLinkActive="active" aria-current="page" routerLink="/home">
                    <i class="fa fa-home opacity-6 text-dark me-1"></i>
                    Accueil
                  </a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link me-2" routerLink="/signUp" routerLinkActive="active">
                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    S'inscrire
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" routerLink="/signIn" routerLinkActive="active">
                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                    S'identifier
                  </a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-7 d-flex flex-column mx-lg-2 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-1 text-start">
                  <h4 class="font-weight-bolder">S'identifier</h4>
                  <p class="mb-0">Entrez votre email et votre mot de passe pour vous connecter
                  </p>
                </div>
                <div class="card-body">
                  

                  <form [formGroup]="userFormGroup">
                    <div class="mb-3 pt-3">
                     
                    <span class="p-float-label">
                      <input type="email" id="float-input" pInputText class="form-control form-control"  aria-label="Email" formControlName="email" name="email">
                      <label for="float-input">Email *</label>
                      </span>
                      <div *ngIf="email.invalid  && email.touched"   
                            class="mb-3 alert alert-danger alert-dismissible fade show" 
                            role="alert">
                      
                          <div *ngIf="email.errors?.['required']">Le champ email est obligatoire.</div>
                          <div *ngIf="email.errors?.['pattern']">L'adresse email n'est pas valide.</div>
                      
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                    
                    </div>
                    
                    
                    <div class="mb-3 pt-3">
                      
                      <div class="password-wrapper">
                        <span class="p-float-label">
                          <input [type]=motdepasse id="float" pInputText class="form-control "  aria-label="Password" formControlName="password" name="password">
                          <label for="float-input">Mot de passe *</label>
                          </span>
                       
                        <span [hidden]="eye" (click)="eyes()">
                          <i class="fa fa-eye password-toggle-icon" aria-hidden="true" ></i>
                        </span>
                        <span [hidden]="!eye" (click)="eyes()">
                          <i class="fa fa-eye-slash password-toggle-icon" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div *ngIf="password.invalid  && password.dirty"   
                            class="mb-3 alert alert-danger alert-dismissible fade show" 
                            role="alert">
                      
                            <div *ngIf="password.errors?.['required']">Le mot de passe est obligatoire.</div>
                            <div *ngIf="password.errors?.['minlength'] || password.errors?.['pattern']">Le mot de passe doit comporter au moins 6 caractères et au moins une lettre et un chiffre.</div>
                        
                      
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                    
                    </div>
                    <div>
                     <a class="small text-muted" routerLink="/retrouverMail" routerLinkActive="active">Mot de passe oublier</a>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" (click)="login()" [disabled]="userFormGroup.invalid">
                        Connecter
                      </button>
                    </div>
                    
                  </form>
                </div>
                
                <div class="card-footer text-center pt-1 px-lg-2 px-1">
                  <p class="mb-1 text-sm mx-auto">
                    Vous n'avez pas de compte ?
                    <a routerLink="/signUp" mat-stroked-button routerLinkActive="active" class="text-primary text-gradient font-weight-bold"> S'inscrire</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://www.lesclesdelabanque.com/uploads/2021/05/comment-se-passe-investissement-_BD.jpg'); background-size: cover;">
                <span class="mask bg-gradient-primary opacity-6"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative">
                    Les investissements d'aujourd'hui sont les profits de demain et les emplois d'après-demain
                </h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <p-toast></p-toast>
        <button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success">shooow</button>
    </div>
      
    </section>
  </main>

  
  