

  

  <!-- Favicons -->
  <link href="../../../assets/img/favicon.png" rel="icon">
  <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  

  <app-header></app-header>



  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../../../assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>À propos de nous</h3>
            <p class="fst-italic " style="font-size: x-large;text-align: justify;">
              Bienvenue sur bourse Pour Toi , une plateforme complète de marché boursier 
              conçue pour vous fournir toutes les informations et les outils dont vous avez 
              besoin pour prendre des décisions d'investissement éclairées. 
              Notre plateforme propose des prix d'actions en temps réel, des graphiques, des mises à jour 
              d'actualités et des analyses pour vous aider à rester à jour sur les dernières tendances du marché.
              Rejoignez notre communauté d'investisseurs dès aujourd'hui et commencez à
               prendre le contrôle de votre avenir financier avec Bourse Pour Toi.
            </p>
            
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
       
        <div class="row">
          <div class="image col-lg-6" style='background-image: url("../../../assets/img/features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Suivi des entreprises</h4>
              <p> Fournir une consultation en temps réel des actions des entreprises cotées en bourse.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Actualités financières</h4>
              <p>Fournir des actualités financières en temps réel pour aider 
                les investisseurs à rester informés des derniers événements du marché.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Cours des devises</h4>
              <p>Fournir des cours des devises en temps réel pour aider 
                les investisseurs à suivre les fluctuations du marché des devises.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Conseils personnalisés</h4>
              <p>Offrir des conseils personnalisés pour aider les investisseurs à sélectionner les actions
                  appropriées en fonction de leur profil de risque et de leurs objectifs financiers.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Consultez nos services </p>
        </div>

        <div class="row equal-height">
          <div class="  col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a routerLink="/home">Suivi des entreprises</a></h4>
              
            </div>
          </div>

          <div class="  col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box me-0">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a routerLink="/home">Actualités financières</a></h4>
            </div>
          </div>

          <div class="  col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a routerLink="/devise">Cours des devises</a></h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Conseils personnalisés</a></h4>
             
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Équipe</h2>
          <p>CONSULTER NOTRE EQUIPE</p>
        </div>

       
        <div class="row justify-content-center g-4">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <!-- contenu de la première colonne -->
              <div class="member-img">
                <img src="../../../assets/img/team/260529459_3175602039351067_701773977021743881_n.jpg" class="img-fluid" alt="">
                <div class="social">
                 
                  <a href="https://www.facebook.com/nour.jandoubi.182?mibextid=ZbWKwL"><i class="bi bi-facebook"></i></a>
                  <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fnourjandoubi%3Figshid%3DYmMyMTA2M2Y%253D%26fbclid%3DIwAR0Zpaan4FUsLU_YfJzw6rmNWLO7EnRCklK4Tb6hSr1uFpRdJS2OdJt5OIo&h=AT07LbQ8GA7s93rMYtWyuNUGf4F3gRzHQb6dpowPHTEgiGpe2nPihRhb8fCHRWMFKwofluLjFkYG7b66XflrEj7Wi5cWmCbvhRg_G_xFW7Eos9UYc1Vbrh3APLryR253guC1Wg"><i class="bi bi-instagram"></i></a>
                  <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fnour-jandoubi-827589210%3Ffbclid%3DIwAR2sVZ0VEyoPJqUmaufNEr3IZhPZKF275yH_HAv0Mipja37STLMXt17vctQ&h=AT07LbQ8GA7s93rMYtWyuNUGf4F3gRzHQb6dpowPHTEgiGpe2nPihRhb8fCHRWMFKwofluLjFkYG7b66XflrEj7Wi5cWmCbvhRg_G_xFW7Eos9UYc1Vbrh3APLryR253guC1Wg"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Nour El Houda El Jandoubi</h4>
                <span>Développeur web</span>
              </div>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <!-- contenu de la deuxième colonne -->
              <div class="member-img">
                <img src="../../../assets/img/team/331308310_1497013627489945_3995473220720388164_n.jpg" class="img-fluid" alt="">
                <div class="social">
               
                  <a href="https://www.facebook.com/dora.benmimoun?mibextid=ZbWKwL"><i class="bi bi-facebook"></i></a>
                  <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fdorra_bm_%3Figshid%3DYmMyMTA2M2Y%253D%26fbclid%3DIwAR3DB7dKrJJSnXiHZRgTAxfJj5qKzlpaiWqI4PQbQExRUkxm5K9BY9JTrr4&h=AT07LbQ8GA7s93rMYtWyuNUGf4F3gRzHQb6dpowPHTEgiGpe2nPihRhb8fCHRWMFKwofluLjFkYG7b66XflrEj7Wi5cWmCbvhRg_G_xFW7Eos9UYc1Vbrh3APLryR253guC1Wg"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Dorra Ben Mimoun</h4>
                <span>Développeur web</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contacter Nous</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3194.573952007976!2d10.272702015681758!3d36.84849378013614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd4bd9aea7debb%3A0x75cbcd17ce5d396!2sVERMEG%20La%20Bourse%20LAC%202!5e0!3m2!1sen!2stn!4v1650907753765!" ></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localisation:</h4>
                <p><a href="https://www.google.com/maps/search/?api=1&query=R7XF%2B93W%2C+Unnamed+Road%2C+Tunis" target="_blank">R7XF+93W, Unnamed Road, Tunis</a></p>
              </div>
              
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:communications@vermeg.com">communications@vermeg.com</a></p>
              </div>
              

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Téléphone:</h4>
                <p><a href="tel:+21671160600">+216 71 160 600</a></p>
              </div>
              

            </div>

          </div>

       

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

